In [1]:
l = [1,2,3,4,"sudh","kumar",45.56]

In [2]:
for i in l:
    print(l)

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]
[1, 2, 3, 4, 'sudh', 'kumar', 45.56]
[1, 2, 3, 4, 'sudh', 'kumar', 45.56]
[1, 2, 3, 4, 'sudh', 'kumar', 45.56]
[1, 2, 3, 4, 'sudh', 'kumar', 45.56]
[1, 2, 3, 4, 'sudh', 'kumar', 45.56]
[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [3]:
for i in l:
    print(i)

1
2
3
4
sudh
kumar
45.56

In [4]:
for i in l:
    pass

In [5]:
s = "sudh"
for i in s:
    print(i)

s
u
d
h

In [6]:
for i in l:
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself the it will execute else

In [7]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [8]:
for i in l :
    if i == 4:
        break
    print(i)
else:
    print("this will execute only if for is going to complete itself")

1
2
3

In [9]:
for i in l :
    if i == 5:
        break
    print(i)
else:
    print("this will execute only if for is going to complete itself")

1
2
3
4
sudh
kumar
45.56
this will execute only if for is going to complete itself

In [10]:
s = "sudhanshu"
for i in s:
    if i =='n' :
        break
    print(i)
else:
    print("print string",s)

s
u
d
h
a

In [11]:
s = "sudhanshu"
for i in s:
    if i =='z' :
        break
    print(i)
else:
    print("print string",s)

s
u
d
h
a
n
s
h
u
print string sudhanshu

In [12]:
t = (4,5,6,7,8,6,"sudh")
for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [13]:
b= {4,5,6,7,7,7,7,7,7,7,7,8,"sudh"}

In [14]:
type(b)

set

In [15]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [16]:
for i in b :
    print(i)

sudh
4
5
6
7
8

In [17]:
d={"key1" : "sudh", "contact" : "sudhanshu@ineuron.ai", "position" : "xyz"}

In [18]:
for i in d :
    print(i)

key1
contact
position

In [19]:
d["key1"]

'sudh'

In [20]:
for i in d : 
    print(d[i])

sudh
sudhanshu@ineuron.ai
xyz

In [21]:
for i in d : 
    print(i,":",d[i])

key1 : sudh
contact : sudhanshu@ineuron.ai
position : xyz

In [22]:
d['key1']

'sudh'

In [23]:
range(9)

range(0, 9)

In [24]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
for i in range(9) :
    print(i)

0
1
2
3
4
5
6
7
8

In [26]:
list(range(0,9, 2))

[0, 2, 4, 6, 8]

In [27]:
list(range(0,9, -1))

[]

In [28]:
list(range(9,0, -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
list(range(9,0, 2))

[]

In [30]:
n=4
for i in range(4) :
    for j in range(0, i+1) :
        print("sudh",end = " ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [31]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(" " * len("sudh"), end= " ")
    for j in range(i+1) : 
        print("sudh", end=" ")
    for j in range(i) :
        print("sudh", end=" ")
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [32]:
t = (3,23,45,67,2,4,5,6)
for i in range (len(t)) :
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [33]:
s = "ineuron"
range(len(s))

range(0, 7)

In [34]:
s = "ineuron"
for i in range(len(s)) :
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [35]:
s

'ineuron'

In [36]:
range(len(s))

range(0, 7)

In [37]:
list(range(len(s)))

[0, 1, 2, 3, 4, 5, 6]

In [38]:
list(range(len(s),0,-1))

[7, 6, 5, 4, 3, 2, 1]

In [39]:
list(range(len(s),-1,-1))

[7, 6, 5, 4, 3, 2, 1, 0]

In [40]:
list(range(len(s)-1,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [41]:
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [42]:
s

'ineuron'

In [43]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

In [44]:
d.items()

dict_items([('key1', 'sudh'), ('contact', 'sudhanshu@ineuron.ai'), ('position', 'xyz')])

In [45]:
for i in d.items():
    print(i)

('key1', 'sudh')
('contact', 'sudhanshu@ineuron.ai')
('position', 'xyz')

In [46]:
for i in d.items():
    print(i,type(i))

('key1', 'sudh') <class 'tuple'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'>
('position', 'xyz') <class 'tuple'>

In [47]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [48]:
l = ["sudh","kumar",3234545,"sudhanshu2ineuron.ai",345,34345353]
l1= []
for i in l :
    if type(i) == int :
        l1.append(i)

In [49]:
l1

[3234545, 345, 34345353]

In [50]:
l = ["sudh","kumar",3234545,"sudhanshu2ineuron.ai",345,34345353]
l1= []
for i in l :
    if type(i) == str:
        l1.append(i)

In [51]:
l1

['sudh', 'kumar', 'sudhanshu2ineuron.ai']

In [52]:
d = {1:3345345 , "name" : "sudh", "email_id" : "sudhanshu@ineuron.ai", 234 :"fsfdds" , "43" : "sfsaf" , 234 :"3454"}

In [53]:
for i in d :
    print(i)

1
name
email_id
234
43

In [54]:
for i in d :
    if type(i) == int :
        print(i, " : ", d[i])

1  :  3345345
234  :  3454

In [55]:
s= "aaaabbccd"

In [56]:
set(s)

{'a', 'b', 'c', 'd'}

In [57]:
for i in set(s) :
    print(i,":",s.count(i))

c : 2
b : 2
d : 1
a : 4

In [58]:
s.count('a')

4

In [59]:
i = 34534654646435
for j in str(i) :
    print(j)

3
4
5
3
4
6
5
4
6
4
6
4
3
5

In [60]:
i = 34534654646435
for j in str(i) :
    print(int(j))

3
4
5
3
4
6
5
4
6
4
6
4
3
5

In [61]:
i = 34534654646435
for j in str(i) :
    print(int(j),type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [62]:
str(i)

'34534654646435'

In [63]:
t = ("sudh","kumar",[1,2,3,4,5], (3,4,5,6), {3:3,"key2" : "kuamr"})

In [64]:
for i in t :
    print(i)

sudh
kumar
[1, 2, 3, 4, 5]
(3, 4, 5, 6)
{3: 3, 'key2': 'kuamr'}

In [65]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        print(i)
        for k in i.items():
            print (k)

3
3
{3: 3, 'key2': 'kuamr'}
(3, 3)
('key2', 'kuamr')

In [66]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        print(i)
        for k,v in i.items():
            if k == 3 or v ==3 :
                print(k)
                print(v)

3
3
{3: 3, 'key2': 'kuamr'}
3
3

In [67]:
d = {4:5, "key1" : "sudh" , "key2" : "kumar"}

In [68]:
for i in d.items():
    print(i)

(4, 5)
('key1', 'sudh')
('key2', 'kumar')

In [69]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [70]:
for i,j in d.items():
    print(i)

4
key1
key2

In [71]:
#ass

In [72]:
n=4
for i in range(4) :
    for j in range(0, i+1) :
        print("ineuron",end = " ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [73]:
n=3
q = "ineruon"
for i in range(n): 
    for j in range(i,n-1): 
        print(" " * len(q), end= " ")
    for j in range(i+1) : 
        print(q, " "*len(q), end=" ")
    print('\n')
for i in range(n-1): 
    for j in range(i+1): 
        print(" " * len(q), end= " ")
    for j in range(i,n-1) : 
        print(q, " "*len(q), end=" ")
    print('\n')

                ineruon

        ineruon         ineruon

ineruon         ineruon         ineruon

        ineruon         ineruon

                ineruon

In [74]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5.45,4,4,5,45,4,5]),{'k1':"sudh","k2" : "ineuron", "k3" : "kumar",3:6,7:8},["ineuron", "data science"]]

In [75]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 5.45, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [76]:
type(l)

list

In [77]:
for i in l :
    if type(i) == list :
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [78]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 5.45, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [79]:
for i in l :
    if type(i) == dict :
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [80]:
for i in l :
    if type(i) == tuple :
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [81]:
for i in l:
    for j in i:
        if type(j) == int:
            print (j)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
4
5
45
23
3
7

In [82]:
Sum=[]

for i in l:
    for j in i:
        if type(j)==int:
            Sum.append(j)
sum(Sum)

142

In [83]:
for i in l:
    for j in i:
        if type(j) == int and j % 2 != 0 :
            print (j)

1
3
3
5
3
5
7
5
45
23
3
7

In [84]:
l = [[1,2,3,4] , (2,3,4,5,6 ) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,4,5]), { 'k1' : "sudh", "k2" : "ineuron", "k3" : "Kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
for i in l :
    for j in i :
        if j == "ineuron" :
            print (j)

ineuron

In [85]:
for i in l :
        print (i, ":", l.count(i))

[1, 2, 3, 4] : 1
(2, 3, 4, 5, 6) : 1
(3, 4, 5, 6, 7) : 1
{45, 4, 5, 23} : 1
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8} : 1
['ineuron', 'data science '] : 1

In [86]:
for i in l :
    if type(i)== dict :
        print (i.keys())

dict_keys(['k1', 'k2', 'k3', 3, 7])

In [87]:
for i in l :
    for j in i :
         if type (j) == str:
                print (j)

k1
k2
k3
ineuron
data science

In [88]:
string=[]

for i in l :
    for j in i :
        string.append(j)

In [89]:
string

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'k2',
 'k3',
 3,
 7,
 'ineuron',
 'data science ']

In [94]:
for i in l :
    for j in i :
         if type (j) == str:
                print (j)

k1
k2
k3
ineuron
data science

In [95]:
po=[]

for i in l :
    for j in i :
        po.append(j)

In [96]:
mg=[]
for i in po:
    if type(i)==str:
        mg.append(i)

In [97]:
mg

['k1', 'k2', 'k3', 'ineuron', 'data science ']

In [98]:
for i in mg:
    if i.isalnum()==True:
        print(i)

k1
k2
k3
ineuron

In [99]:
ET = []
for i in l:
    for j in i:
        if type (j) == int:
            ET.append(j)

In [100]:
ET

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 7]

In [101]:
l1=[]
for i in l :
    if type (l)==list or type (l)== tuple or type (l)== str or type (l)== set :
        l1.append(l)  
    print(l1)

[[[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']]]
[[[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']]]
[[[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']]]
[[[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']]]
[[[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']]]
[[[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']]]

In [102]:
l1=[]
for i in l :
    if type (l)==list or type (l)== tuple or type (l)== str or type (l)== set :
        l1.append(l)

In [103]:
print (l1)

[[[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']], [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'Kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']]]