In [1]:
def test(a,b) :
    '''this is my function for concatination or addition'''
    return a+b

In [2]:
test(4,6)

10

In [3]:
test("sudh","kumar")

'sudhkumar'

In [4]:
test(a=9,b=6)

15

In [5]:
test(a=45,b=3)

48

In [6]:
print()

In [7]:
def test1(a,b,c,d,e):
    return a,b,c,d,e

In [8]:
test1(3,4,5,6,7)

(3, 4, 5, 6, 7)

In [9]:
def test(*a):
    return a

In [10]:
test(34,56)

(34, 56)

In [11]:
test(2,3,4,4)

(2, 3, 4, 4)

In [12]:
test(4,5,6,6,6,[3,4,5,5,5,6])

(4, 5, 6, 6, 6, [3, 4, 5, 5, 5, 6])

In [13]:
def test4(*args):
    return args

In [14]:
test4(34,56,6,76,7)

(34, 56, 6, 76, 7)

In [15]:
def test5(*a):
    l=[]
    for i in a :
        l.append(i)
    return l

In [16]:
test5(2,3,4,45,5,[345,56,5,6])

[2, 3, 4, 45, 5, [345, 56, 5, 6]]

In [17]:
test5(3,4,5,56)

[3, 4, 5, 56]

In [18]:
def test6(a,b,c,d, *m):
    return a,b,c,d, m

In [19]:
test6(3,4,5,5,6,6,7,7,8,8)

(3, 4, 5, 5, (6, 6, 7, 7, 8, 8))

In [20]:
def test7(*m,a,b,c,d,e):
    return m, a,b,c,d,e

In [21]:
test7(4,5,65,6,6,7,7,56,a=67,b= 34,c=54,d=67,e=78)

((4, 5, 65, 6, 6, 7, 7, 56), 67, 34, 54, 67, 78)

In [22]:
def test8(**sudh):
    return sudh

In [23]:
test8(b=4,c=5,d=6,e=6,n=[3,4,45,5,6,6,6])

{'b': 4, 'c': 5, 'd': 6, 'e': 6, 'n': [3, 4, 45, 5, 6, 6, 6]}

In [24]:
d= {'b': 4, 'c': 5, 'd': 6, 'e': 6}

In [25]:
def test9(*m,**s):
    return m,s

In [26]:
test9(345,45,56,5,6,56,b=4,c=6,d=7,g=9)

((345, 45, 56, 5, 6, 56), {'b': 4, 'c': 6, 'd': 7, 'g': 9})

In [27]:
def test10(*m):
    n=0
    for i in m :
        if type(i) == int:
            n =n+i
    return n

In [28]:
test10(2,3,4,5,5,6,6)

31

In [29]:
test10(2,3,4)

9

In [30]:
def test1(*m):
    n=1
    for i in m :
        if type(i) == int:
            n =n*i
    return n

In [31]:
test1(4,5,6,6,7,87,8)

3507840

In [32]:
n= lambda a,b:a+b

In [33]:
n

In [34]:
n(4,5)

9

In [35]:
def test5(a,b):
    return a+b

In [36]:
test5(4,5)

9

In [37]:
n(5,6)

11

In [38]:
b=lambda *sudh : sudh

In [39]:
b(45,4,5,4,5,5,6,677)

(45, 4, 5, 4, 5, 5, 6, 677)

In [40]:
t = (3,4,4,5,5,6,67,7,7)
l=[]
for i in t :
    l.append(i)

In [41]:
l

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [42]:
[i for i in t] # top both are same for i in t then i (this is comprehension operation)

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [43]:
s = "sudh"

In [44]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [45]:
l=[]
for i in range(10):
    l.append(i*i)

In [46]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
#itis list comprehension

In [48]:
l = lambda *x : [i**2 for i in x]

In [49]:
l(4,45,5,6,6,7,8,9)

[16, 2025, 25, 36, 36, 49, 64, 81]

In [50]:
print("1:25:55"

SyntaxError: unexpected EOF while parsing (2195294741.py, line 1)

In [51]:
def test14(**kwargs):
    count = 0 
    print(kwargs)
    print(kwargs.values())
    for v in kwargs.values():
        if type(v) == str or type(v) == list:
            count +=1
    return count

In [52]:
test14(a= 7, b="sudh",  c= 345,  d = "sudh",  l = [2, 3, 4, 45, "sudh"])

{'a': 7, 'b': 'sudh', 'c': 345, 'd': 'sudh', 'l': [2, 3, 4, 45, 'sudh']}
dict_values([7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']])

3

In [55]:
####Todays task :**##
    ##q1 : Try to print a prime number in between 1 to 1000**##
    ##**q2 : Try to write a function which  is equivalent  to print function in python**##
    ##**q3 : Try to write a function which is a replica of list append , extend and pop function **##
    ##**q4 : Try to write a lambda function which can return a concatination of all the string that we will pass**##
    ##**q5 : Try to write a lambda function which can return list of square of all the data between 1-100 **##
    ##**q6 : Try to write a 10 Different different example of lambda function with a choice of your taks **##
##    **q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file **##
        
        ##**shivan@ineuron.ai**##
        ##**sudhashu@ineuron.ai##

In [56]:
##q1 : Try to print a prime number in between 1 to 1000##

def prime():
    for i in range(1,1001):
        if i > 1:
            for j in range(2,i):
                if i % j == 0:
                    break
            else:
                print(i)

In [59]:
prime()

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [60]:
import sys
def print_equivalent(str):
    sys.stdout.write(str)
print_equivalent("Python is a complior and interpriter")

Python is a complior and interpriter

In [61]:
###    q3 : Try to write a function which is a replica of list append , extend and pop function ###
def append_element(list3, element):
    length = len(list3)
    list3.insert(length , element)

list1 = [1,2,3,4]
append_element(list1 , "new element")
print(list1)

###extend###
def extend_element(l1,element):
    if type(element) == str:
        l1.append(element)
    elif type(element) == int:
        l1.append(element)
    elif type(element) == tuple or type(element) == list or type(element)== set:
        for i in element:
            l1.append(i)
    elif type(element) == dict:
        for i in element.keys():
            l1.append(i)
    return list

l2 = ["e1" ,"e2" , "e3"]
newlist = [1,2,3,4]
dict1 = {"1":"one" , "2":"two"}
extend_element(l2,dict1)
print(l2)
###pop##
def pop_element(list4,index):
   newElement = list4[index]
   list4.remove(newElement)
   return newElement
list5 = [1,2,3, 3 ,4,4]
poppad_item = pop_element(list5,2)
print(poppad_item)
print(list5)

[1, 2, 3, 4, 'new element']
['e1', 'e2', 'e3', '1', '2']
3
[1, 2, 3, 4, 4]

In [62]:
### q4 : Try to write a lambda function which can return a concatination of all the string that we will pass###
concat=lambda *str: "".join(str)
conccatString=concat("i " , "am " ,"a " ,"real ", "person.")
print(conccatString)

i am a real person.

In [63]:
### q5 : Try to write a lambda function which can return list of square u`yu   of all the data between 1-100### 
square = lambda : [i*i  for i in range(1 , 100)]
square_list = square()
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [64]:
###    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks ###
g = lambda x: x*x*x
print(g(7))
###########
a = [100, 2, 8, 60, 5, 4, 3, 31, 10, 11]
 
filtered = filter (lambda x: x % 2 == 0, a)
print(list(filtered))

343
[100, 2, 8, 60, 4, 10]

In [68]:
###    q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file### 
def read():
    file1 = open(r"C:\Users\Hi\ass\prav.txt","r+")
    print("Content of the text file is ")
    print(file1.read())
    print()

In [69]:
read()

Content of the text file is
This is praveen