In [1]:
a = 10
if a == 10 : 
    print("this is my first condition")

this is my first condition

In [2]:
a = 10
if a == 11 : 
    print("this is my first condition")

In [3]:
a = 10
if a > 11 :
    pass

In [4]:
a = 10
if a>8 :
    print ("print this if condition is true")

print this if condition is true

In [5]:
a = 10
if a<8 :
    print ("print this if condition is true")

In [6]:
a = 10
if a!=11 :
    print ("my condition is false")
else : 
    print("print this")

my condition is false

In [7]:
a = 10
if a==11 :
    print ("my condition is false")
else : 
    print("print this")

print this

In [8]:
a = 10 
if a == 12 : 
    print ("here we are trying to compare 10 with 12")
elif a==11:
    print ("we are trying to compare 10 with 11")
else :
    print("if all the blocks will fail then do this ")

if all the blocks will fail then do this

In [9]:
a = 10 
if a == 12 : 
    print ("here we are trying to compare 10 with 12")
elif a==10:
    print ("we are trying to compare 10 with 11")
else :
    print("if all the blocks will fail then do this ")

we are trying to compare 10 with 11

In [10]:
price = 500 
if price > 500:
    print("may b i wont able to buy a jacket")
elif price <= 500 :
    print("i will be able to buy a jacket")

i will be able to buy a jacket

In [11]:
price = 500 
if price > 500:
    print("may b i wont able to buy a jacket")
elif price < 500 :
    print("i will be able to buy a jacket")
else : 
    print("i dont know")

i dont know

In [12]:
price = 500 
if price > 500:
    print("may b i wont able to buy a jacket")
elif price < 500 :
    print("i will be able to buy a jacket")
elif price == 500:
    print ("for sure i will be able to buy")
else : 
    print("i dont know")

for sure i will be able to buy

In [13]:
l=[1,2,3,4,5,6]
2 in l

True

In [14]:
if 2 in l :
    print("try to perfor task")
else : 
    print("do not perform this task")

try to perfor task

In [15]:
if 60 in l :
    print("try to perfor task")
else : 
    print("do not perform this task")

do not perform this task

In [16]:
60 in l

False

In [17]:
l

[1, 2, 3, 4, 5, 6]

In [18]:
if 1 in l :
    print("try to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do nul")

try to do a addition

In [19]:
if 10 in l :
    print("try to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do nul")

try to do sub

In [20]:
if 10 in l :
    print("try to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do nul")
if 4 in l:
    print("this is new statement")

try to do sub
this is new statement

In [21]:
a = 400

In [22]:
b = int(input())

300

In [23]:
b

300

In [24]:
type(b)

int

In [25]:
price=int(input())
if price < 500:
    print("i will be able to buy something")
    if price <400 :
        print("i will be able to buy a jacket")
    elif price < 300:
        print("i will be able to buy a shirt")
    else :
        print("i wont be able to buy anything")
else:
    print("i wont be able to buy anything withthis price")

300
i will be able to buy something
i will be able to buy a jacket

In [26]:
price=int(input())
if price < 500:
    print("i will be able to buy something")
    if price <400 :
        print("i will be able to buy a jacket")
    elif price < 300:
        
        print("i will be able to buy a shirt")
        if price <200:
            print("i would like to do someting")
    else :
        print("i wont be able to buy anything")
else:
    print("i wont be able to buy anything withthis price")
    if price >500 :
        print("lets try something else")

350
i will be able to buy something
i will be able to buy a jacket

In [27]:
m = int(input())
if m < 600 :
    print("No Gre")
    if m < 500:
        print("Tofel")
        if m < 400:
            print("txt someone")
    else:
        print("you got tofel")
else:
    print("you got gre congratulations")

250
No Gre
Tofel
txt someone

In [28]:
val = float(input("enter the floating point number "))
if val >=0:
    if val ==0:
        print("entered value is zero")
    else:
        print("enter the value is a positive number")
else:
    print("entered number is a negative number")

enter the floating point number 53.22
enter the value is a positive number

In [29]:
a = 10
if a<=10:
    print("try to do something")

try to do something

In [30]:
a = 10 
if a <10 or a==10 :
    print("try to do something")

try to do something

In [31]:
a = 10 
if a <10 or a>10 :
    print("try to do something")

In [32]:
a = 10 
if a <10 and a==10 :
    print("try to do something")

In [33]:
a ="sudh"
if a =="sudh" and a == "Sudh" :
    print("this is sudh")

In [34]:
a ="sudh"
if a =="sudh" or a == "Sudh" :
    print("this is sudh")

this is sudh

In [35]:
a=10
b=11 
c=12
d=13
if a == 9 or b==11 and c==12 and d==13:
    print("lets do something")

lets do something

In [36]:
d = {'key1' : "value", "key2" : "sudh" , "key3" : "iNeuron"}

In [37]:
if d['key1'] == "value" and d['key2'] == "Sudh" and d['key3'] == "iNeuron" :
    print("all the values are verified")
    print(d.values())
else :
    print("all the values are not verified")

all the values are not verified

In [38]:
d['key1']

'value'

In [39]:
l = [1,2,3,4,5,"sudh",234.45]

In [40]:
l[0]

1

In [41]:
l[1]

2

In [42]:
l[2:5]

[3, 4, 5]

In [43]:
for i in l :
    print(i)

1
2
3
4
5
sudh
234.45

In [44]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [45]:
for i in l :
    if type(i) == int or type(i) == float :
        print(i+1)
    elif type(i) == str :
        print(i+str(1))

2
3
4
5
6
sudh1
235.45

In [46]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [47]:
l1 = []
for i in l :
    if type(i) == int:
        l1.append(i)

In [48]:
l1

[1, 2, 3, 4, 5]

In [49]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [50]:
l1 = []
for i in l :
    if type(i) == int:
        l1.append(i)

In [51]:
l1

[1, 2, 3, 4, 5]